<div class="side-bar-content">
  <div class= "title">
    <a href="/">Beyond</a>
  </div>
  <div class="content">
    <a href= "#">配信動画</a>
  </div>
  <div class="content">
    <a href= "#">コミュニティ</a>
  </div>
</div>